interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://export.arxiv.org/api/query?max_results=100&search_query=doi%3A10.0000%2Fdoes.not.exist&sortBy=relevance&sortOrder=descending&start=0
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<feed xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:arxiv=\"http://arxiv.org/schemas/atom\" xmlns=\"http://www.w3.org/2005/Atom\">\n
        \ <id>https://arxiv.org/api/zooMTIaadXB8sAIv+aT0TU8xQ/0</id>\n  <title>arXiv
        Query: search_query=doi:10.0000/does.not.exist&amp;id_list=&amp;start=0&amp;max_results=100</title>\n
        \ <updated>2026-05-05T08:31:39Z</updated>\n  <link href=\"https://arxiv.org/api/query?search_query=doi:10.0000/does.not.exist&amp;start=0&amp;max_results=100&amp;id_list=\"
        type=\"application/atom+xml\"/>\n  <opensearch:itemsPerPage>100</opensearch:itemsPerPage>\n
        \ <opensearch:totalResults>0</opensearch:totalResults>\n  <opensearch:startIndex>0</opensearch:startIndex>\n</feed>\n"
    headers:
      content-type:
      - application/atom+xml; charset=utf-8
      x-cloud-trace-context:
      - 5963dd73c89a7150694ead3e6ed5efd4
    status:
      code: 200
      message: OK
version: 1
