interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.archives-ouvertes.fr/search/?fl=%2A&q=doiId_s%3A10.0000%2Fdoes.not.exist
  response:
    body:
      string: "{\n  \"response\":{\n    \"numFound\":0,\n    \"start\":0,\n    \"maxScore\":0.0,\n
        \   \"numFoundExact\":true,\n    \"docs\":[ ]\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      environment:
      - production
      served-by:
      - 192.168.176.69 D=96743
    status:
      code: 200
      message: OK
version: 1
