interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.unpaywall.org/v2/10.31234/osf.io/tg7xr
  response:
    body:
      string: '{"best_oa_location":{"endpoint_id":null,"evidence":"deprecated","host_type":null,"is_best":true,"license":"cc-by","oa_date":"2021-10-29","pmh_id":null,"repository_institution":null,"updated":"deprecated","url":"https://osf.io/tg7xr/download","url_for_landing_page":"https://doi.org/10.31234/osf.io/tg7xr","url_for_pdf":"https://osf.io/tg7xr/download","version":"acceptedVersion"},"data_standard":2,"doi":"10.31234/osf.io/tg7xr","doi_url":"https://doi.org/10.31234/osf.io/tg7xr","first_oa_location":{"endpoint_id":null,"evidence":"deprecated","host_type":null,"is_best":true,"license":"cc-by","oa_date":"2021-10-29","pmh_id":null,"repository_institution":null,"updated":"deprecated","url":"https://osf.io/tg7xr/download","url_for_landing_page":"https://doi.org/10.31234/osf.io/tg7xr","url_for_pdf":"https://osf.io/tg7xr/download","version":"acceptedVersion"},"genre":"posted-content","has_repository_copy":true,"is_oa":true,"is_paratext":false,"journal_is_in_doaj":false,"journal_is_oa":false,"journal_issn_l":null,"journal_issns":null,"journal_name":null,"oa_locations":[{"endpoint_id":null,"evidence":"deprecated","host_type":null,"is_best":true,"license":"cc-by","oa_date":"2021-10-29","pmh_id":null,"repository_institution":null,"updated":"deprecated","url":"https://osf.io/tg7xr/download","url_for_landing_page":"https://doi.org/10.31234/osf.io/tg7xr","url_for_pdf":"https://osf.io/tg7xr/download","version":"acceptedVersion"},{"endpoint_id":"b7064513e7c391b7fb9","evidence":"deprecated","host_type":"repository","is_best":false,"license":"cc-by","oa_date":"2021-10-29","pmh_id":"oai:share.osf.io:b35f7aef-91de-4003-b436-0874bd5cf328","repository_institution":"Center
        for Open Science","updated":"deprecated","url":"https://osf.io/tg7xr","url_for_landing_page":"https://osf.io/tg7xr","url_for_pdf":null,"version":"submittedVersion"}],"oa_locations_embargoed":[],"oa_status":"gold","published_date":"2021-10-29","publisher":"Center
        for Open Science","title":"Do Attitudes, Trust, and Acceptance of Pseudoscience
        and  Conspiracy Theories Predict COVID-19 Vaccination Status?","updated":"2026-02-09T15:04:13Z","year":2021,"z_authors":[{"author_position":"first","is_corresponding":true,"raw_affiliation_strings":["Saint
        Louis University, School for Professional Studies, 3840 Lindell Blvd., St.
        Louis, MO 63108","School for Professional Studies, Saint Louis University,
        St. Louis, MO, USA"],"raw_author_name":"Matthew J Grawitch"},{"author_position":"last","is_corresponding":false,"raw_affiliation_strings":["Department
        of Psychology, Saint Louis University, St. Louis, MO, USA","School for Professional
        Studies, Saint Louis University, St. Louis, MO, USA"],"raw_author_name":"Kristi
        Lavigne"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
