interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.archives-ouvertes.fr/search/?fl=%2A&q=doiId_s%3A10.2196%2F39220
  response:
    body:
      string: "{\n  \"response\":{\n    \"numFound\":1,\n    \"start\":0,\n    \"maxScore\":5.528298,\n
        \   \"numFoundExact\":true,\n    \"docs\":[{\n      \"docid\":\"3994069\",\n
        \     \"label_s\":\"Ilaria Montagni, Aude Pouymayou, Edwige Pereira, Christophe
        Tzourio, Stephane Schuck, et al.. Measuring Digital Vaccine Literacy: Development
        and Psychometric Assessment of the Digital Vaccine Literacy Scale. Journal
        of Medical Internet Research, 2022, 24 (12), &#x27E8;10.2196/39220&#x27E9;.
        &#x27E8;hal-03994069&#x27E9;\",\n      \"citationRef_s\":\"<i>Journal of Medical
        Internet Research</i>, 2022, 24 (12), <a target=\\\"_blank\\\" href=\\\"https://dx.doi.org/10.2196/39220\\\">&#x27E8;10.2196/39220&#x27E9;</a>\",\n
        \     \"citationFull_s\":\"Ilaria Montagni, Aude Pouymayou, Edwige Pereira,
        Christophe Tzourio, Stephane Schuck, et al.. Measuring Digital Vaccine Literacy:
        Development and Psychometric Assessment of the Digital Vaccine Literacy Scale.
        <i>Journal of Medical Internet Research</i>, 2022, 24 (12), <a target=\\\"_blank\\\"
        href=\\\"https://dx.doi.org/10.2196/39220\\\">&#x27E8;10.2196/39220&#x27E9;</a>.
        <a target=\\\"_blank\\\" href=\\\"https://hal.science/hal-03994069v1\\\">&#x27E8;hal-03994069&#x27E9;</a>\",\n
        \     \"label_bibtex\":\"@article{montagni:hal-03994069,\\n  TITLE = {{Measuring
        Digital Vaccine Literacy: Development and Psychometric Assessment of the Digital
        Vaccine Literacy Scale}},\\n  AUTHOR = {Montagni, Ilaria and Pouymayou, Aude
        and Pereira, Edwige and Tzourio, Christophe and Schuck, Stephane and Texier,
        Nathalie and Gonzalez-Caballero, Juan Luis},\\n  URL = {https://hal.science/hal-03994069},\\n
        \ JOURNAL = {{Journal of Medical Internet Research}},\\n  PUBLISHER = {{JMIR
        Publications}},\\n  VOLUME = {24},\\n  NUMBER = {12},\\n  YEAR = {2022},\\n
        \ MONTH = Dec,\\n  DOI = {10.2196/39220},\\n  KEYWORDS = {Digital literacy
        ; Reliability ; Validity ; Content ; Online ; Health literacy ; Health information
        ; Vaccine ; Vaccination ; Measurement ; Literacy ; Internet},\\n  PDF = {https://hal.science/hal-03994069v1/file/BPH_JMIR_2022_Montagni.pdf},\\n
        \ HAL_ID = {hal-03994069},\\n  HAL_VERSION = {v1},\\n}\\n\",\n      \"label_endnote\":\"%0
        Journal Article\\n%T Measuring Digital Vaccine Literacy: Development and Psychometric
        Assessment of the Digital Vaccine Literacy Scale\\n%+ Bordeaux population
        health (BPH)\\n%+ Kappa Sant\xE9\\n%+ Kap Code\\n%+ Universidad de C\xE1diz
        = University of C\xE1diz (UCA)\\n%A Montagni, Ilaria\\n%A Pouymayou, Aude\\n%A
        Pereira, Edwige\\n%A Tzourio, Christophe\\n%A Schuck, Stephane\\n%A Texier,
        Nathalie\\n%A Gonzalez-Caballero, Juan Luis\\n%< avec co[...]
