interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1128/mbio.01735-25
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,2,27]],"date-time":"2026-02-27T03:31:30Z","timestamp":1772163090995,"version":"3.50.1"},"reference-count":51,"publisher":"American
        Society for Microbiology","issue":"8","license":[{"start":{"date-parts":[[2025,8,13]],"date-time":"2025-08-13T00:00:00Z","timestamp":1755043200000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"},{"start":{"date-parts":[[2025,8,13]],"date-time":"2025-08-13T00:00:00Z","timestamp":1755043200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/journals.asm.org\/non-commercial-tdm-license"}],"funder":[{"name":"Manning
        Fund for COVID-19 Research at UVVA"},{"DOI":"10.13039\/100008222","name":"Ivy
        Foundation","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100008222","id-type":"DOI","asserted-by":"publisher"}]},{"name":"The
        Pendleton Laboratory Fund for Pediatric Infectious Diseases"},{"DOI":"10.13039\/100000060","name":"National
        Institute of Allergy and Infectious Diseases","doi-asserted-by":"publisher","award":["AI176515"],"award-info":[{"award-number":["AI176515"]}],"id":[{"id":"10.13039\/100000060","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000060","name":"National
        Institute of Allergy and Infectious Diseases","doi-asserted-by":"publisher","award":["AI160334"],"award-info":[{"award-number":["AI160334"]}],"id":[{"id":"10.13039\/100000060","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100001448","name":"Alpha-1
        Foundation","doi-asserted-by":"publisher","award":["AI178669"],"award-info":[{"award-number":["AI178669"]}],"id":[{"id":"10.13039\/100001448","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["journals.asm.org"],"crossmark-restriction":true},"short-container-title":["mBio"],"published-print":{"date-parts":[[2025,8,13]]},"abstract":"<jats:title>ABSTRACT<\/jats:title>\n                  <jats:sec>\n                    <jats:title\/>\n                    <jats:p>Many
        difficult-to-understand clinical features characterize COVID-19 and post-acute
        sequelae of COVID-19 (PASC or long COVID [LC]). These can include blood pressure
        instability, hyperinflammation, coagulopathies, and neuropsychiatric complaints.
        The pathogenesis of these features remains unclear. The SARS-CoV-2 Spike protein
        receptor-binding domain (RBD) binds angiotensin converting enzyme 2 (ACE2)
        on the surface of host cells to initiate infection[...]
