interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works/doi:10.1371/journal.pone.0003140
  response:
    body:
      string: '{"id":"https://openalex.org/W2153492790","doi":"https://doi.org/10.1371/journal.pone.0003140","title":"Lack
        of Association between Measles Virus Vaccine and Autism with Enteropathy:
        A Case-Control Study","display_name":"Lack of Association between Measles
        Virus Vaccine and Autism with Enteropathy: A Case-Control Study","publication_year":2008,"publication_date":"2008-09-03","ids":{"openalex":"https://openalex.org/W2153492790","doi":"https://doi.org/10.1371/journal.pone.0003140","mag":"2153492790","pmid":"https://pubmed.ncbi.nlm.nih.gov/18769550"},"language":"en","primary_location":{"id":"doi:10.1371/journal.pone.0003140","is_oa":true,"landing_page_url":"https://doi.org/10.1371/journal.pone.0003140","pdf_url":"https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0003140&type=printable","source":{"id":"https://openalex.org/S202381698","display_name":"PLoS
        ONE","issn_l":"1932-6203","issn":["1932-6203"],"is_oa":true,"is_in_doaj":true,"is_core":true,"host_organization":"https://openalex.org/P4310315706","host_organization_name":"Public
        Library of Science","host_organization_lineage":["https://openalex.org/P4310315706"],"host_organization_lineage_names":["Public
        Library of Science"],"type":"journal"},"license":"cc-by","license_id":"https://openalex.org/licenses/cc-by","version":"publishedVersion","is_accepted":true,"is_published":true,"raw_source_name":"PLoS
        ONE","raw_type":"journal-article"},"type":"article","indexed_in":["crossref","datacite","doaj","pubmed"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0003140&type=printable","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5058548310","display_name":"Mady
        Hornig","orcid":"https://orcid.org/0000-0001-7572-3092"},"institutions":[{"id":"https://openalex.org/I78577930","display_name":"Columbia
        University","ror":"https://ror.org/00hj8s172","country_code":"US","type":"education","lineage":["https://openalex.org/I78577930"]}],"countries":["US"],"is_corresponding":true,"raw_author_name":"Mady
        Hornig","raw_affiliation_strings":["Center for Infection and Immunity, Mailman
        School of Public Health, Columbia University, New York, New York, United States
        of America. mady.hornig@columbia.edu","Center for Infection and Immunity,
        Mailman School of Public Health, Columbia University, New York, New York,
        United States of America"],"raw_orcid":null,"affiliations":[{"raw_affiliation_string":"Center
        for Infection and Immunity, Mailman School of Public Health, Columbia University,
        New York, New York, United States of America. mady.hornig@columbia.edu","institution_ids":["https://openalex.org/I78577930"]},{"raw_affiliation_string":"Center
        for Infection and Immunity, Mailman School of Public Health, Columbia University,
        New York, New York, United States of America","institution_ids":["https://openalex.org/I78577930"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5012112885","display_name":"Thomas
        Briese","orcid":"https://orcid.org/0000-0002-4819-8963"},"institutions":[{"id":"https://openalex.org/I78577930","display_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=ids.openalex%3AW148762150%7CW1965476953%7CW1973088910%7CW1975331319%7CW1980309199%7CW1981989135%7CW1988377546%7CW1991698391%7CW2000764724%7CW2014563507%7CW2018553787%7CW2023422638%7CW2027412542%7CW2033012158%7CW2036955930%7CW2043943811%7CW2053397400%7CW2055607877%7CW2056339438%7CW2062944040%7CW2063995473%7CW2064726557%7CW2072979656%7CW2073545687%7CW2086569882%7CW2087636597%7CW2088180052%7CW2107557001%7CW2117847125%7CW2120400073%7CW2122056698%7CW2135119740%7CW2136419435%7CW2140996251%7CW2142608882%7CW2148194409%7CW2149225338%7CW2151271761%7CW2151324155%7CW2155925158%7CW2159604534%7CW2163223893%7CW2164671692%7CW2165196939%7CW2169567320%7CW2172023446%7CW2314790983%7CW2917017648%7CW3150264905%7CW3150857863%7CW4240163445&per-page=200&select=id%2Cdoi
  response:
    body:
      string: '{"meta": {"count": 51, "db_response_time_ms": 48, "page": 1, "per_page":
        200, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W1980309199",
        "doi": "https://doi.org/10.1007/bf02172145"}, {"id": "https://openalex.org/W2117847125",
        "doi": "https://doi.org/10.1016/s0140-6736(97)11096-0"}, {"id": "https://openalex.org/W2136419435",
        "doi": "https://doi.org/10.1016/s0140-6736(99)01239-8"}, {"id": "https://openalex.org/W2073545687",
        "doi": "https://doi.org/10.1056/nejmoa021134"}, {"id": "https://openalex.org/W2018553787",
        "doi": "https://doi.org/10.1097/01.[...]
