/* Colors */
:root {
    /* Principal Colors */
    --color-0: #CBDF40;
    --color-1: #36C3D7;
    --color-2: #F5A414;
    --color-gray: #F1F1F1;
}


/* Body and text style */
body {
    font-family: "Helvetica", sans-serif;
    background-color: var(--color-gray);
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

hr {
    color: black;
}